
@{
    ViewData["Title"] = "Index";
}

<div class="col-12" style="margin: 0 auto;padding-top: 30px; position: relative;">
        <div class="card p-lg-3 shadow-lg  rounded " style="margin-left: auto; margin-right: auto; width: 80%; background-color: #FEFEFE; color: #015B42 ">
            <div class="card-header">
                Evidence - 6
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>In this project I have worked with two tables(One to Many)</p>
                    <p>1. Categories Table</p>
                    <p>2. Products Table</p>
                    <footer class="blockquote-footer pt-4">Md. Eftekher Alam, ID: 1264783</footer>
                </blockquote>
            </div>
        </div>
    </div>